body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #FFFAFA
}

/* Estilos para a navbar */
.navbar {
    background-color: #d2fcd3; /* Cor de fundo da navbar */
    padding: 1px; 
    width: 100%;
    top: 0;
    position: relative;
    z-index: 1000;
  
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    max-height: 100px; /* altura da logo */
    width: 350px; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
   
}

.navbar .nav-links {
    list-style: none; 
    display: flex;
    gap: 15px; /* Espaço entre os links */
}


.navbar .nav-links li a {
    color: rgb(80, 51, 51);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: background 0.3s;
}

.navbar .nav-links li a:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
    border-radius: 4px;
}



h1, h2{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h2.produto{
font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

.product-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.product{
    background-color:#D8EFBF;
 font-family: fantasy;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    height: 400px;
}

button{
    background-color:#e4efed;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;

}

button:hover{
    background-color: #0e2247;
}

button.add{
    color: #050505;
}

button.add:hover{
color: #FFFAFA;

}
 button.remove{
    color: #050505
  
}

 button.remove:hover{
    color: #FFFAFA;

}

#cart{
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #98FB98;
    border-radius: 8px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: large;
}

h3.tot{
    color: #e4931a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span.total{
    color: rgb(7, 6, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: auto;
    height: 40%;
    object-fit: cover;
}

img.imgb{
    width: auto;
   height: 30%;
}

.logo {
    display: block;
    margin: 0 auto; 
    position: relative;
    top: 0; /* logo no topo */
    padding-top: 10px; 
    height: 200px; 
    
}

.container {
    text-align: center;
    position: relative;
    margin-top: 0; 
   
}